body {
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    padding-top: 20%;
}


/* WEBSITE IS STLL IN CONSTRUCTION AND ITS BEING DEVELOPVED BY RAUNAK NEUPANE AKA REZY DEV.
FINISHED VERSION WILL BE COMPLETED WITHIN A MONTH.
COPYRIGHT - RAUNAK NEUPANE */